body{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(87, 153, 228, 0.575);
}

#picture{
    display: block;
    width: 50%;
    height: auto;
    border: 2px solid #000;
    border-radius: 8px;
    margin: 0 auto;
}

a{
    font-size: 30px;
    color: red;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

#zjh{
    height:75%;
    width: auto;
    margin: 0 auto;
}