body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
 text-align: center;
}
h1 {
    color: #333;
}
p {
    font-size: 16px;
    color: #666;
}
img {
    width: 500px; /* 设置图片宽度为300像素 */
    height: auto; /* 高度自动调整，保持图片比例 */
    display: block; /* 将图片设置为块级元素 */
    margin: 0 auto; /* 使图片水平居中 */
}